<h1>Log In</h1>
<p>New to this site? Go to the <a href="/auth/signup">sign up page</a> instead!</p>
<hr>

<a href="/auth/facebook">
	<button class="btn waves-effect waves-light pink" type="submit">Login with Facebook
		<i class="material-icons right">account_box</i>
	</button>
</a>

<h2>OR</h2>

<div class="row">
	<form class="col s12" method="POST" action="/auth/login">
		<div class="row">
			<div class="input-field col s12 m6">
				<input placeholder="Your email" id="email" name="email" type="email" class="validate">
				<label for="email">Email</label>
			</div>
			<div class="input-field col s12 m6">
				<input placeholder="password" id="password" name="password" type="password" class="validate">
				<label for="password">Password</label>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<button class="btn waves-effect waves-light right pink" type="submit">Submit
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>
	</form>
</div>
