<div class="center-align">
	<h1>Sign Up</h1>
	<small class="grey-text">(It's totally free and we will NEVER email you)</small>
	<p>
		Already a member? <a href="/auth/login" class="pink-text">Log in</a>!
	</p>
	<br>
	<a href="/auth/facebook">
		<button class="btn waves-effect waves-light pink" type="submit">Sign up with Facebook
			<i class="material-icons right">account_box</i>
		</button>
	</a>
	<br>
	<br>
	<br>

	<h4>Sign up by email:</h4>

	<div class="row">
		<form class="col s12" method="POST" action="/auth/signup">
			<div class="row">
				<div class="input-field col s12 m6">
					<input placeholder="First Name" id="firstname" name="firstname" type="text" class="white-text validate">
					<label for="firstname">First Name</label>
				</div>
				<div class="input-field col s12 m6">
					<input placeholder="Last Name" id="lastname" name="lastname" type="text" class="white-text validate">
					<label for="lastname">Last Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m6">
					<input placeholder="Your email" id="email" name="email" type="email" class="white-text validate">
					<label for="email">Email</label>
				</div>
				<div class="input-field col s12 m6">
					<input placeholder="mm/dd/yyyy"id="birthdate" name="birthdate" type="text" class="white-text validate">
					<label for="birthdate">Birthdate</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input placeholder="Your picture" id="image" name="image" type="url" class="white-text validate">
					<label for="image">Image URL</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m6">
					<input placeholder="Create password" id="password" name="password" type="password" class="white-text validate">
					<label for="password">Password</label>
				</div>
				<div class="input-field col s12 m6">
					<input placeholder="Confirm password" id="password_verify" name="password_verify" type="password" class="white-text validate">
					<label for="password_verify">Password</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<textarea placeholder="Bio" id="bio" name="bio" class="materialize-textarea white-text validate"></textarea>
					<label for="bio">User Bio</label>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<button class="btn waves-effect waves-light pink" type="submit">Submit
						<i class="material-icons right">send</i>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>