<nav>
  <div class="nav-wrapper blue-grey darken-4">
    <a href="#!" class="brand-logo"><i class="right pink-text fas fa-beer" style="font-size: 48px; margin-top: 5px"></i></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons pink-text">menu</i></a>
    <ul class="blue-grey darken-4 right hide-on-med-and-down">
      <li><a href="/breweries" class="white-text">Brewery Search</a></li>
      <% if (!user) { %>
        <li><a href="/auth/login" class="white-text">Login</a></li>
        <li><a href="/auth/signup" class="white-text">Sign Up</a></li>
      <% } else { %>
        <% if (user.admin) { %>
          <li><a href="/profile/admin" class="white-text">Admin</a></li>
        <% } %>
        <li><a href="/profile" class="white-text">Profile</a></li>
        <li><a href="/auth/logout" class="white-text">Logout</a></li>
      <% } %>
    </ul>
  </div>
</nav>

<ul class="sidenav blue-grey darken-3" id="mobile-demo">
  <li class="blue-grey darken-4">Kevin</li>
  <li><a href="/breweries" class="white-text">Brewery Search</a></li>
  <% if (!user) { %>
    <li><a href="/auth/login" class="white-text">Login</a></li>
    <li><a href="/auth/signup" class="white-text">Sign Up</a></li>
  <% } else { %>
    <% if (user.admin) { %>
      <li><a href="/profile/admin" class="white-text">Admin</a></li>
    <% } %>
    <li><a href="/profile" class="white-text">Profile</a></li>
    <li><a href="/auth/logout" class="white-text">Logout</a></li>
  <% } %>
</ul>