<div class="center-align">
  <h2 class="teal-text text-accent-3">BEER SAVOR</h2>
  <h5>Welcome to Beer Savor!</h5>
  <h6>Your new favorite beer discovery app!</h6>
  <br>
  <hr> 
  <p><small>
  	We know how hard it can be 3 days later to remember... wait.. what was that place called again? ...or ..you know, that super malty one we had that tasted like a Christmas tree? Take the guess work out of your beer snobery and save everything you need to remember with just one tap!
  </small></p>
  <p><small>
  	Whether you are a true hop connoisseur, or just looking for the perfect spot to make a good impression on your (hopefully) future father in-law, we're here to help. Our app is powered by the most extensive and current brewery database on the internet. You are in good hands.
  </small></p>
  <hr>
  <br>
  <div class="row">
		<a class="waves-effect waves-light btn pink" href="/profile">Onward to beer!
			<i class="right fas fa-beer"></i>
		</a>		
	</div>
</div>
