<!DOCTYPE html>
<html>
<head>
	<title>Beer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  	<script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script>
  	<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body class="blue-grey darken-3 white-text">
	<% include ./partials/nav %>
	<div class="container">
		<% include ./partials/alerts %>
		<%- body %>
	</div>
	<footer class="blue-grey darken-4">
		<small class="grey-text">
			
		</small>
	</footer>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript" src="/app.js"></script>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
		    let instancesNav = M.Sidenav.init(document.querySelectorAll('.sidenav'));
			let instancesDate = M.Datepicker.init(document.querySelectorAll('.datepicker'), {
				autoClose: false,
				minDate: new Date('01/01/1900'),
				maxDate: new Date(),
				yearRange: [1920, 2019]
			})
		})
		$(document).ready(function(){
			$('.modal').modal();
		});
	</script>
</body>
</html>