<!DOCTYPE html>
<html>
<head>
	<title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<% include ./partials/nav %>
	<div class="container">
		<% include ./partials/alerts %>
		<%- body %>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
		    let instancesNav = M.Sidenav.init(document.querySelectorAll('.sidenav'));
			let instancesDate = M.Datepicker.init(document.querySelectorAll('.datepicker'), {
				autoClose: false,
				minDate: new Date('01/01/1900'),
				maxDate: new Date(),
				yearRange: [1920, 2019]
			})
		})
	</script>
</body>
</html>