<div class="center-align">
	<h3 class="teal-text text-accent-3">WHERE ARE YOU?</h3>
	<br>
	<div class="row">
		<button onclick="getLocation()" class="btn waves-effect waves-light pink">Use my current location
			<i class="material-icons right">my_location</i>
		</button><p id="check" class="teal-text text-accent-3"></p>
	</div>
	<div class="row">
		<form method="POST" action="/breweries/results">
			<input type="hidden" id="lat" name="lat" value="">
			<input type="hidden" id="lng" name="lng" value="">
			<hr>
			<br>
			<h5 id="search">SEARCH BY CITY / STATE</h5>
			<div class="input-field col s12">
				<input type="text" name="city" id="city" placeholder="Enter your city">
			</div>
			<div class="input-field col s12">
				<input type="text" name="state" id="state" placeholder="Enter your state">
			</div>
			<div class="input-field col s12">
				<hr>
				<br>
				<button id="submit" class="btn waves-effect waves-light pink" type="submit">Search
					<i class="material-icons right">send</i>
				</button>
			</div>
		</form>
	</div>
</div>
<script>
var lat = document.getElementById("lat");
var lng = document.getElementById("lng");
var check = document.getElementById('check')

function getLocation() {
	$('#city').attr('disabled', true)
	$('#city').attr('placeholder', '')
	$('#state').attr('disabled', true)
	$('#state').attr('placeholder', '')
	$('#submit').attr('disabled', true)
	$('#search').css('color', 'grey')
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(loadPosition);
  } else { 
    console.log('Geolocation is not supported by this browser.')
  }
}

function loadPosition(position) {
  lat.value = position.coords.latitude
  lng.value = position.coords.longitude
  check.textContent = ' ✓ current location set'
	$('#submit').attr('disabled', false)
}
</script>