<div class="center-align">
	<h3>Where are you?</h3>
	<div class="row">
		<form class="col s12" method="POST" action="/breweries/results">
			<div class="row center-align">
				<div class="col s12">
					<button class="btn waves-effect waves-light pink" name="query" type="submit">Show me beer!
						<i class="material-icons right">send</i>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
