<div class="center-align">
	<h3 class="teal-text text-accent-3">WHOMP WHOMP</h3>
	<br>
	<h5>We couldn't find anything 😕</h5>
	<br>
	<br>
	<a href="/breweries" class="btn waves-effect waves-light pink">Try Again
		<i class="material-icons right">youtube_searched_for</i>
	</a>
</div>